* {
    font-family: Consolas, Helvetica, Open Sans, 'Microsoft YaHei', sans-serif;
}

html {
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ol li {
    line-height: 1.5;
}

hr {
    margin: 20px 0;
    padding: 0 0;
    border: none;
    border-bottom: 1px dashed #ddd;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

input,
select,
textarea {
    font-size: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

img {
    border: 0;
}

fieldset {
    display: inline-block;
    min-width: 140px;
    margin: 5px;
    padding: 20px;
    border: 1px dashed #ccc;
    border: 1px dashed #ccc;
    -webkit-border-radius: 8px;
    /* Webkit浏览器的私有属性 */
    -moz-border-radius: 8px;
    /* Mozilla浏览器的私有属性 */
    border-radius: 8px;
}

iframe {
    display: block;
}

abbr {
    font-variant: normal;
    border: 0;
}

del {
    text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-weight: 500;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

ins,
a {
    text-decoration: none;
    color: #ff8613;
}

code,
kbd,
pre,
samp {
    font-size: 14px;
}


/* =Common
--------------------------------------*/

a:link {
    color: #08c;
}

a:hover {
    text-decoration: none;
    color: #08c;
}

::-moz-selection {
    color: #f96;
    background: #e1e1e8 none repeat scroll 0 0;
}

::selection {
    color: #f96;
    background: #e1e1e8 none repeat scroll 0 0;
}

.fn-clear:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}

.fn-clear {
    zoom: 1;
    /* for IE6 IE7 */
}

.fn-hide {
    display: none;
}

.fn-left,
.fn-right {
    display: inline;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}


/* =Layout
--------------------------------------*/

#viole,
.page-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    width: 100%;
    height: auto;
}

#ztheme-head {
    position: relative;
    width: 100%;
    height: 260px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#ztheme-header {
    width: 90%;
    margin: 0 auto;
}

.logo,
.logo a {
    font-size: 52px;
    width: 500px;
    padding: 30px 0 0 0;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
    color: #fefefe;
    color: #fefefe;
}

.logo a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

.subtitle {
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, .4);
}

#ztheme-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    background: rgba(255, 255, 255, .2);
}

@media screen and (max-width: 500px) {
    .nav-list {
        overflow-x: hidden;
        width: 100%;
        margin: 0 auto;
        list-style: none;
    }
}

@media screen and (min-width: 500px) {
    .nav-list {
        overflow-x: hidden;
        width: 98%;
        margin: 0 auto;
        list-style: none;
    }
}

.nav-item {
    line-height: 32px;
    float: left;
    padding: 5px 6px 0 6px;
    vertical-align: middle;
}

.nav-item a {
    font-size: 14px;
    line-height: 32px;
    display: block;
    padding: 0 15px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    color: #fff;
    border-radius: 2px 2px;
    background: rgba(0, 0, 0, .2);
}

.nav-item a:hover,
.nav-item-active a {
    text-decoration: none;
    background: rgba(0, 0, 0, .4);
}

#ztheme-main {
    width: 100%;
    height: auto;
    min-height: 400px;
}

.main-article {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    background: #f6f6f6;
    border: #E6E6E6 1px solid;
    border-radius: 2px;
    overflow: hidden;
}

.main-article:nth-child(2n) {
    background: #fff;
}

.ztheme-post {
    position: relative;
    width: 100%;
    margin: 0 1px;
    padding: 1px 0;
}

.ztheme-post-list {
    position: relative;
    margin: 0 0;
    padding: 1px 20px;
    -webkit-transition: width 2s;
    /* Safari and Chrome */
    -moz-transition: width 2s;
    /* Firefox 4 */
    -o-transition: width 2s;
    /* Opera */
    transition: width 2s;
}

.ztheme-title .ztheme-title-item {
    font-size: 32px;
    width: 95%;
    margin: 0 auto;
}

#ztheme-paging {
    width: 100%;
    height: auto;
    padding: 0 0;
    background: #f6f6f6;
}

.pagination-list {
    overflow-x: hidden;
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 5px 0;
    list-style: none;
}

.pagination-list li {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.pagination-list li a,
.pagination-list .prev,
.pagination-list .next {
    line-height: 32px;
    display: block;
    width: 32px;
    height: 32px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    text-align: center;
    color: #fff;
    border-radius: 2px 2px;
    background: #08c;
}

@media screen and (min-width: 500px) {
    .pagination-list .prev {
        line-height: 36px;
        float: left;
        overflow-x: hidden;
        width: 45%;
        height: 36px;
        padding: 0 20px 0 0;
    }
    .pagination-list .next {
        line-height: 36px;
        float: right;
        overflow-x: hidden;
        width: 45%;
        height: 36px;
        padding: 0 0 0 20px;
    }
}

@media screen and (max-width: 500px) {
    .pagination-list .prev {
        line-height: 36px;
        overflow-x: hidden;
        width: auto;
        height: 36px;
        padding: 0 20px 0 0;
    }
    .pagination-list .next {
        line-height: 36px;
        overflow-x: hidden;
        width: auto;
        height: 36px;
        margin-top: 2px;
        padding: 0 0 0 20px;
    }
}

.pagination-list .prev i,
.pagination-list .next i {
    line-height: inherit;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.pagination-list .prev:hover,
.pagination-list .next:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, .8);
}

.pagination-list .current a,
.pagination-list li a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, .8);
}

#ztheme-foot {
    width: 100%;
    height: 220px;
    border-top: 1px solid #1c1c22;
    background: #22272a;
}

.footer {
    width: 80%;
    height: 160px;
    margin: 0 auto;
}

.footer .logo {
    float: right;
    width: 200px;
    text-align: right;
}

.copyright {
    width: 100%;
    height: 60px;
    background: #1c1c22;
}

.copyright-cnt {
    line-height: 28px;
    width: 96%;
    height: 28px;
    margin: 0 auto;
    padding: 16px 0;
}

.copyright-cnt .follow {
    font-size: 18px;
    line-height: 28px;
    display: block;
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    text-align: center;
    color: #fff;
    border-radius: 3px 3px;
    background: rgba(255, 255, 255, .1);
}

.copyright-cnt .follow:hover {
    background: #08c;
}

.copyright-cnt .text {
    font-weight: lighter;
    line-height: 28px;
    display: inline-block;
    float: right;
    color: #e5e5e5;
}

.copyright-cnt .text a {
    font-weight: normal;
    text-decoration: underline;
    color: #fff;
}

.main-article-title,
.main-article-title a {
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    color: #555;
}

.main-article-title a:hover {
    color: #08c;
}

.main-article-meta {
    font-size: 15px;
    line-height: 22px;
    position: absolute;
    right: 10px;
    bottom: -5px;
    margin: 10px 0 10px 0;
    color: #a7aab1;
}

.main-article-page {
    background: #fff;
}

.main-article-page {
    margin: 0 0 30px 0;
}

@media screen and (max-width: 500px) {
    .main-article-contant {
        margin: 10px 8px 10px;
    }
}

@media screen and (min-width: 500px) {
    .main-article-contant {
        margin: 30px 20px 30px;
    }
}

.clear {
    clear: both;
}

.categoryGroup {
    font-size: 16px;
    width: 100%;
    height: auto;
    background-color: #eee;
}

.categoryGroup ul li {
    line-height: 30px;
    float: left;
    overflow: hidden;
    height: 30px;
    margin: 3px;
    list-style-type: none;
    border: 1px solid #fff;
    -webkit-border-radius: 6px 6px 6px 6px;
    /* Webkit浏览器的私有属性 */
    -moz-border-radius: 6px 6px 6px 6px;
    /* Mozilla浏览器的私有属性 */
    border-radius: 6px 6px 6px 6px;
    /* 四个半径值分别是左上角、右上角、右下角和左下角 */
}

.categoryGroup ul {
    width: auto;
    height: 100%;
}

.categoryGroup ul li a {
    font-family: Monaco, Consolas, Helvetica, Open Sans, 'Microsoft YaHei', sans-serif;
    font-size: 12px;
    display: block;
    width: auto;
    height: 100%;
    padding: 0 10px;
    color: #fff;
}

.categoryGroup ul li a .left_dian {
    display: inline-block;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 3px;
    /* Webkit浏览器的私有属性 */
    -moz-border-radius: 3px;
    /* Mozilla浏览器的私有属性 */
    border-radius: 3px;
    /* 四个半径值分别是左上角、右上角、右下角和左下角 */
    background-color: #fff;
}

.categoryGroup ul li a sup {
    font-family: Monaco, Consolas, Helvetica, Open Sans, 'Microsoft YaHei', sans-serif;
    font-size: 11px;
    color: #eee;
}

.categoryGroup ul li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #333;
}

.main-article-contant br {
    margin: 3px 0;
}

.main-article-contant p {
    font-size: 16px;
    line-height: 2.0;
    color: #666;
}

.main-article-more a {
    font-size: 16px;
    display: inline-block;
    padding: 4px 18px 4px 18px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
    text-align: center;
    color: #fff;
    border-radius: 3px 3px;
    background: #08c;
}

.main-article-more a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, .8);
}

.ztheme-title {
    position: relative;
    width: 100%;
    padding: 30px 0;
    background: #f6f6f6;
}

.main-article h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 36px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.main-article h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
}

.main-article h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 26px;
    margin-bottom: 20px;
}

.main-article h4 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 22px;
    margin-bottom: 18px;
}

.main-article h5 {
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 16px;
}

.main-article pre {
    clear: both;
    overflow: auto;
    margin: 15px 0;
    padding: 13px 20px;
    color: #22272a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f4f4f6;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    margin-left: 2px;
    color: #15bb4c;
    background-color: #fbfbfb;
    border-radius: 4px;
    border-width: 1px;
    border-style: dashed;
    border-color: #dcdcdc;
}

.main-article code {
    font-family: Monaco, Consolas, Helvetica, Open Sans, 'Microsoft YaHei', sans-serif;
    font-size: 90%;
    padding: 1px 4px;
    margin-right: 4px;
}

.main-article pre code {
    margin: 4px 0;
    padding: 2px 0;
    border: none;
}

.main-article ul {
    font-size: 16px;
    line-height: 1.5;
    list-style-type: square;
    list-style-position: inside;
    color: #636363;
}

.main-article-contant ul {
    margin-left: 30px;
}

.categoryGroup ul {
    margin-left: 0;
}

.main-article ol {
    margin: 10px;
    padding-left: 30px;
    list-style-type: decimal-leading-zero;
}

.main-article em {
    font-style: italic;
}

.main-article strong {
    font-weight: bold;
    color: #ff7f00;
}

.main-article blockquote {
    font-style: normal;
    margin: 20px 10px;
    padding: 5px 10px;
    text-align: left;
    color: #8d8d8d;
    border-left: 4px solid #eee;
    border-radius: 0 3px 3px 0;
}

.main-article blockquote p {
    color: #353535;
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .main-article img {
        display: block;
        width: 100%;
        max-width: 500px;
    }
}

@media screen and (min-width: 500px) {
    .main-article img {
        display: block;
        max-width: 600px;
    }
}

.main-article img:hover {
    opacity: 1;
}

.main-article table th,
.main-article table td {
    line-height: 2;
    padding: 0 2px;
    text-indent: 6px;
    border-right: 1px solid rgba(208, 208, 208, .38);
    border-bottom: 1px solid rgba(208, 208, 208, .38);
}

.main-article table {
    position: relative;
    margin-bottom: 1em;
    color: #4d4d4d;
    border-top: 1px solid rgba(208, 208, 208, .38);
    border-left: 1px solid rgba(208, 208, 208, .38);
}

.main-article table th {
    color: #fff;
    background: rgba(61, 126, 174, .48);
}

.main-article .article-year {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.main-article .article-year li {
    float: left;
    overflow: hidden;
    width: 136px;
    height: 190px;
    list-style-type: none;
    border: 5px solid #fff;
    -webkit-border-radius: 6px;
    /* Webkit浏览器的私有属性 */
    -moz-border-radius: 8px;
    /* Mozilla浏览器的私有属性 */
    border-radius: 8px;
    background: #f6f6f6;
}

.main-article .article-year li .post_date {
    display: block;
    width: 100%;
    height: 32px;
    text-align: center;
    color: #fff;
}

.main-article .article-year li .post_title {
    display: block;
    overflow: hidden;
    height: 120px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    color: #fff;
}

.main-article .article-year li .post_keywords {
    font-family: Monaco, Consolas, Helvetica, Open Sans, 'Microsoft YaHei', sans-serif;
    font-size: 11px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    height: 20px;
    padding: 1px 1px;
    text-align: center;
    color: #fff;
    border-top: 1.0px solid rgba(255, 255, 255, .4);
}

.main-article .article-year li a {
    display: block;
    overflow: hidden;
    height: 100%;
    padding: 5px 5px;
    text-align: center;
    color: #000;
}

.main-article .article-year li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #333;
}


/* =Other
--------------------------------------*/

.comment {
    width: 100%;
    height: auto;
    background: #fff;
}

@media screen and (max-width: 500px) {
    .comment-cnt {
        width: 95%;
        height: auto;
        margin: 0 auto;
        padding: 0 0;
    }
}

@media screen and (min-width: 500px) {
    .comment-cnt {
        width: 95%;
        height: auto;
        margin: 0 auto;
        padding: 0 0;
    }
}

a.toTop {
    font-size: 36px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px 3px;
    background: rgba(0, 0, 0, .8);
}

a.toTop:hover {
    background: #08c;
}

.toTop i {
    font-size: 24px;
    line-height: 40px;
    vertical-align: top;
}

.pagination {
    display: block;
    margin: 0 0;
}

#category {
    font-size: 16px;
}

.header_background {
    background: -moz-linear-gradient(top, #08c, #09e);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#08c), to(#09e));
    /*谷歌*/
    background-color: #08c;
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #08c), color-stop(1, #09e));
    /* Safari & Chrome*/
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#08c, endColorStr=#09e);
    /*IE*/
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#08C', endColorstr='#09E');
    /*IE6 & IE7*/
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=\'#08C\', endColorstr=\'#09E\')';
    /* IE8 */
}
