* {
	font-family: Consolas, Helvetica, Open Sans, "Microsoft YaHei", sans-serif;
}

html {
	color: #000;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	margin: 0;
	padding: 0;
}

ol li{
	line-height: 1.5
}

hr {
	margin: 20px 0px;
	padding: 0px 0px;
	border: none;
	border-bottom: 1px dashed #0088cc;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

body,button,input,select,textarea {
	
}

input,select,textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: inherit;
}

img {
	border: 0;
}

fieldset {
	display: inline-block;
	min-width: 140px; border : 1px dashed #ccc;
	margin: 5px;
	padding: 20px;
	-moz-border-radius: 8px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 8px; /* Webkit浏览器的私有属性 */
	border-radius: 8px;
	border: 1px dashed #ccc;
}

iframe {
	display: block;
}

abbr {
	border: 0;
	font-variant: normal;
}

del {
	text-decoration: line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: 500;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500;
}

q:before,q:after {
	content: '';
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ins,a {
	text-decoration: none;
	color:#FF8613;
}

code,kbd,pre,samp {
	font-size: 14px;
}

/* =Common
--------------------------------------*/
a:link {
	color: #08c;
}

a:hover {
	color: #08c;
	text-decoration: none;
}

::-moz-selection {
	background: #e1e1e8 none repeat scroll 0 0;
	color: #FF9966;
}

::selection {
	background: #e1e1e8 none repeat scroll 0 0;
	color: #FF9966;
}

.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.fn-clear {
	zoom: 1; /* for IE6 IE7 */
}

.fn-hide {
	display: none;
}

.fn-left,.fn-right {
	display: inline;
}

.fn-left {
	float: left;
}

.fn-right {
	float: right;
}

.fn-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fn-webkit-adjust {
	-webkit-text-size-adjust: none;
}
/* =Layout
--------------------------------------*/
#viole,.page-wrapper {
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: auto;
	width: 100%;
}

#ztheme-head {
	position: relative;
	width: 100%;
	height: 260px;
	background-color: #fff;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#ztheme-header {
	width: 90%;
	margin: 0 auto;
}

.logo,.logo a {
	padding: 30px 0 0 0;
	width: 500px;
	font-size: 52px;
	color: #fefefe;
	-webkit-transition: color .4s ease-in-out;
	-moz-transition: color .4s ease-in-out;
	-ms-transition: color .4s ease-in-out;
	-o-transition: color .4s ease-in-out;
	transition: color .4s ease-in-out;
	color: #fefefe;
}

.logo a:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.subtitle {
	line-height: 32px;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.4);
}

#ztheme-nav {
	position: absolute;
	bottom: 0px;
	padding-bottom: 5px;
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 500px) {
	.nav-list {
		list-style: none;
		width: 100%;
		margin: 0 auto;
		overflow-x: hidden;
	}
}

@media screen and (min-width: 500px) {
	.nav-list {
		list-style: none;
		width: 98%;
		margin: 0 auto;
		overflow-x: hidden;
	}
}

.nav-item {
	float: left;
	padding: 5px 6px 0px 6px;
	line-height: 32px;
	vertical-align: middle;
}

.nav-item a {
	display: block;
	line-height: 32px;
	padding: 0px 15px;
	border-radius: 2px 2px;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 14px;
	-webkit-transition: background .4s ease-in-out;
	-moz-transition: background .4s ease-in-out;
	-ms-transition: background .4s ease-in-out;
	-o-transition: background .4s ease-in-out;
	transition: background .4s ease-in-out;
}

.nav-item a:hover,.nav-item-active a {
	background: rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

#ztheme-main {
	min-height: 400px;
	width: 100%;
	height: auto;
}

.main-article {
	width: 100%;
	height: auto;
	background: #f6f6f6;
}


.main-article:nth-child(2n) {
	background: #fff;
}


.ztheme-post {
	width: 100%;
	padding: 1px 0;
	margin: 0 1px;
	position: relative;
}

.ztheme-post-list {
	padding: 1px 20px;
	margin: 0 0px;
	position: relative;
	transition:width 2s;
	-moz-transition:width 2s; /* Firefox 4 */
	-webkit-transition:width 2s; /* Safari and Chrome */
	-o-transition:width 2s; /* Opera */
}

.ztheme-title .ztheme-title-item {
	width: 95%;
	font-size: 32px;
	margin: 0 auto;
}

#ztheme-paging {
	width: 100%;
	height: auto;
	padding: 0px 0;
	background: #f6f6f6;
}

.pagination-list {
	width: 95%;
	height: auto;
	padding: 5px 0;
	margin: 0 auto;
	list-style: none;
	overflow-x: hidden;
}

.pagination-list li {
	float: left;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pagination-list li a,.pagination-list .prev,.pagination-list .next {
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #0088cc;
	color: #fff;
	border-radius: 2px 2px;
	-webkit-transition: background .4s ease-in-out;
	-moz-transition: background .4s ease-in-out;
	-ms-transition: background .4s ease-in-out;
	-o-transition: background .4s ease-in-out;
	transition: background .4s ease-in-out;
}

@media screen and (min-width: 500px) {
	.pagination-list .prev {
		width: 45%;
		float: left;
		padding: 0 20px 0 0;
		overflow-x:hidden;
		height: 36px;
		line-height: 36px;
	}
	.pagination-list .next {
		width: 45%;
		float: right;
		padding: 0 0 0 20px;
		overflow-x:hidden;
		height: 36px;
		line-height: 36px;
	}
}

@media screen and (max-width: 500px) {
	.pagination-list .prev {
		width: auto;
		padding: 0 20px 0 0;
		overflow-x:hidden; 
		height: 36px;
		line-height: 36px;
	}
	.pagination-list .next {
		width: auto;
		padding: 0 0 0 20px;
		margin-top: 2px;
		overflow-x:hidden;
		height: 36px;
		line-height: 36px;
	}
}

.pagination-list .prev i,.pagination-list .next i {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 5px;
	line-height: inherit;
}

.pagination-list .prev:hover,.pagination-list .next:hover {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.8);
}

.pagination-list .current a,.pagination-list li a:hover {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.8);
}

#ztheme-foot {
	width: 100%;
	height: 220px;
	border-top: 1px solid #1c1c22;
	background: #22272a;
}

.footer {
	width: 80%;
	height: 160px;
	margin: 0 auto;
}

.footer .logo {
	width: 200px;
	float: right;
	text-align: right;
}

.copyright {
	width: 100%;
	height: 60px;
	background: #1c1c22;
}

.copyright-cnt {
	width: 96%;
	padding: 16px 0;
	margin: 0 auto;
	line-height: 28px;
	height: 28px;
}

.copyright-cnt .follow {
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	line-height: 28px;
	font-size: 18px;
	display: block;
	color: #fff;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 3px 3px;
	-webkit-transition: background .4s ease-in-out;
	-moz-transition: background .4s ease-in-out;
	-ms-transition: background .4s ease-in-out;
	-o-transition: background .4s ease-in-out;
	transition: background .4s ease-in-out;
}

.copyright-cnt .follow:hover {
	background: #0088cc;
}

.copyright-cnt .text {
	float: right;
	display: inline-block;
	line-height: 28px;
	color: #e5e5e5;
	font-weight: lighter;
}

.copyright-cnt .text a {
	font-weight: normal;
	color: #fff;
	text-decoration: underline;
}

/* =Page
--------------------------------------*/

/* =Post
--------------------------------------*/
.main-article-title,.main-article-title a {
	font-size: 30px;
	line-height: 40px;
	color: #333;
	text-decoration: none;
}

.main-article-title a:hover {
	color: #0088cc;
}

.main-article-meta {
	margin: 10px 0 10px 0;
	color: #A7AAB1;
	font-size: 15px;
	line-height: 22px;
	position: absolute;
	right: 10px;
	bottom: -5px;
}

.main-article-page {
	background: #fff;
}

.main-article-page {
	margin: 0px 0 30px 0;
}

@media screen and (max-width: 500px) {
	.main-article-contant {
		margin: 10px 8px 10px;
	}
}

@media screen and (min-width: 500px) {
	.main-article-contant {
		margin: 30px 20px 30px;
	}
}

.clear{
	clear:both;
}
.categoryGroup{
	background-color:#eee;
	width:100%;
	height:auto;	 
	font-size: 16px; 
}
.categoryGroup ul li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	margin:3px;
	float:left;
	list-style-type:none;
	border: 1px solid #fff;
	-moz-border-radius: 6px 6px 6px 6px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius:6px 6px 6px 6px; /* Webkit浏览器的私有属性 */
	border-radius: 6px 6px 6px 6px; /* 四个半径值分别是左上角、右上角、右下角和左下角 */
}

.categoryGroup ul {
	width:auto;
	height:100%;
}

.categoryGroup ul li a{
	font-family: Monaco,Consolas, Helvetica, Open Sans, "Microsoft YaHei", sans-serif;
	font-size:12px;
	display:block;
	width:auto;
	height:100%;
	padding:0px 10px;
	color:#ffffff;
}
.categoryGroup ul li a .left_dian{
	-moz-border-radius: 3px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius:3px; /* Webkit浏览器的私有属性 */
	border-radius: 3px; /* 四个半径值分别是左上角、右上角、右下角和左下角 */
	width:6px;height:6px;display:inline-block;
	background-color:#ffffff;
}

.categoryGroup ul li a sup{
	color:#eeeeee;
	font-family: Monaco,Consolas, Helvetica, Open Sans, "Microsoft YaHei", sans-serif;
	font-size:11px;

}


.categoryGroup ul li a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #333;
}


.main-article-contant br {
	margin: 3px 0px;
}

.main-article-contant p {
	font-size: 16px;
	color: #555;
	line-height: 2.0;
}

.main-article-more a {
	font-size: 16px;
	display: inline-block;
	padding: 4px 18px 4px 18px;
	border-radius: 3px 3px;
	text-align: center;
	background: #0088cc;
	color: #fff;
	-webkit-transition: background .4s ease-in-out;
	-moz-transition: background .4s ease-in-out;
	-ms-transition: background .4s ease-in-out;
	-o-transition: background .4s ease-in-out;
	transition: background .4s ease-in-out;
}

.main-article-more a:hover {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.8);
}

.ztheme-title {
	padding: 30px 0;
	width: 100%;
	background: #f6f6f6;
	position: relative;
}

.main-article h1 {
	font-size: 30px;
	margin-top: 36px;
	margin-bottom: 20px;
	padding: 10px 0px;
    	font-weight: 800;
}

.main-article h2 {
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px 0px;
    	border-bottom-color: #D2D2D2;
    	border-bottom-width: 1px;
    	border-bottom-style: solid;
    	font-weight: 700;
}

.main-article h3 {
	font-size: 24px;
	margin-top: 26px;
	margin-bottom: 20px;
	font-weight: 600;
}

.main-article h4 {
	font-size: 20px;
	margin-top: 22px;
	margin-bottom: 18px;
	font-weight: 500;
}


.main-article h5 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 16px;
	font-weight: 400;
}

.main-article pre {
	margin: 15px 0px;
	padding: 13px 20px;
	background-color: #F4F4F6;
	clear: both;
	color: #22272A;
	overflow: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.main-article code {
	padding: 2px 4px;
    	font-size: 90%;
    	color: #c7254e;
    	border-radius: 4px;
	font-family: Monaco,Consolas, Helvetica, Open Sans, "Microsoft YaHei", sans-serif;

}

.main-article pre code {
	border: none;
	padding: 2px 0px;
	margin: 4px 0px;
}

.main-article ul {
	list-style-type: disc;
	font-size: 16px;
	line-height: 1.5;
}

.main-article-contant ul{
	margin-left: 30px;
}

.categoryGroup ul{
	margin-left: 0px;
}

.main-article ol {
	list-style-type: decimal-leading-zero;
	margin:10px;
	padding-left:30px;
}

.main-article em {
	font-style: italic;
}

.main-article strong {
	font-weight: bold;
	color:#ff7f00;
}

.main-article blockquote {
	padding: 5px 10px;
	margin: 20px 10px;
	border-left: 3px solid #0088cc;
	border-radius: 0 3px 3px 0;
	text-align: left;
	color: #8d8d8d;
	font-style: italic;
}

.main-article blockquote p {
	color: #8d8d8d;
}


@media screen and (max-width: 500px) {
	.main-article img {
		width: 100%;
		max-width: 500px;
		display: block;
	}
}

@media screen and (min-width: 500px) {
	.main-article img {
		max-width: 600px;
		display: block;
	}
}


.main-article img:hover {
	opacity: 1;
}

.main-article table th,.main-article table td {
	border-right:1px solid rgba(208, 208, 208, 0.38);
	border-bottom:  1px solid rgba(208, 208, 208, 0.38);
	text-indent: 6px;
	padding: 0px 2px;
	line-height:2;
}
.main-article table {
	position: relative;
	margin-bottom: 1em;
	color: #4d4d4d;
	border-top:  1px solid rgba(208, 208, 208, 0.38);
	border-left:  1px solid rgba(208, 208, 208, 0.38);
}

.main-article table th {
	background: rgba(61, 126, 174, 0.48);
	color: #fff;
}

.main-article .article-year {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.main-article .article-year li {
	width: 136px;
	height: 190px;
	float: left;
	border: 5px solid #fff;
	list-style-type: none;
	background: #f6f6f6;
	overflow: hidden;
	-moz-border-radius: 8px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 6px; /* Webkit浏览器的私有属性 */
	border-radius: 8px; 
}

.main-article .article-year li .post_date {
	display: block;
	color: #FFF;
	text-align: center;
	width: 100%;
	height:32px;
}
.main-article .article-year li .post_title {
	display: block;
	color: #FFF;
	text-align: center;
	height:120px;
	overflow:hidden;
	padding-left:5px;
	padding-right:5px;
}

.main-article .article-year li .post_keywords {
	display: block;
	color: #FFF;
	text-align: center;
	overflow:hidden;
	border-top: 1.0px solid rgba(255, 255, 255, 0.4);
	padding: 1px 1px;
	height: 20px;
	line-height: 20px;
	font-family: Monaco,Consolas, Helvetica, Open Sans, "Microsoft YaHei", sans-serif;
	font-size:11px;
}

.main-article .article-year li a {
	padding: 5px 5px;
	color: #000000;
	display: block;
	text-align: center;
	height: 100%;
	overflow: hidden;
}

.main-article .article-year li a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #333;
}
/* =Other
--------------------------------------*/
.comment {
	width: 100%;
	height: auto;
	background: #fff;
}

@media screen and (max-width: 500px) {
	.comment-cnt {
		padding: 0 0;
		margin: 0 auto;
		width: 95%;
		height: auto;
	}
}

@media screen and (min-width: 500px) {
	.comment-cnt {
		padding: 0 0;
		margin: 0 auto;
		width: 95%;
		height: auto;
	}
}

a.toTop {
	width: 40px;
	height: 40px;
	display: block;
	font-size: 36px;
	color: #fff;
	text-align: center;
	border-radius: 3px 3px;
	background: rgba(0, 0, 0, 0.8);
}

a.toTop:hover {
	background: #0088cc;
}

.toTop i {
	font-size: 24px;
	line-height: 40px;
	vertical-align: top;
}

.pagination{
	margin:0px 0px;
	display: block;
}

#category{
	font-size: 16px;
}


.header_background{
	background-color: #08C;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#08C,endColorStr=#09E); /*IE*/ 
	background:-moz-linear-gradient(top,#08C,#09E);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#08C), to(#09E));/*谷歌*/ 
	background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #08C),color-stop(1, #09E));/* Safari & Chrome*/ 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#08C', endColorstr='#09E'); /*IE6 & IE7*/ 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#08C', endColorstr='#09E')"; /* IE8 */ 
}