@charset "utf-8";
/* CSS Document */
* {
    font-family: "Microsoft YaHei", "Arial", simsun, sans-serif;
}

.json_format {
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}
.json_format_left {
    width: 36%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-right: solid #dddddd 1px;
}

.json_format_right {
    height: 100%;
    float: left;
    overflow: auto;
    background: #eeeeee;
}

#ControlsRow {
    width: 100%;
    line-height: 40px;
    background: #eeeeee;
}

.ControlsRow_div {
    margin: 0px;
    width: 760px;
}

div.ControlsRow, div.HeadersRow {
    background: #0093e2;
    color: white;
}

a {
    text-decoration: none;
}

div.Canvas {
    display: inline-block;
    font-family: Lucida Console, Georgia;
    font-size: 13px;
    background-color: #ECECEC;
    color: #000000;
    border: solid 1px #CECECE;
    min-height: 200px;
    min-width: 100%;
}

.ObjectBrace {
    color: #00AA00;
    font-weight: bold;
}

.ArrayBrace {
    color: #0033FF;
    font-weight: bold;
}

.PropertyName {
    color: #CC0000;
    font-weight: bold;
}

.String {
    color: #007777;
    white-space: nowrap;
}

.Number {
    color: #AA00AA;
}

.Boolean {
    color: #0000FF;
}

.Function {
    color: #AA6633;
    text-decoration: inherit;
}

.Null {
    color: #0000FF;
}

.Comma {
    color: #000000;
    font-weight: bold;
}

PRE.CodeContainer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

PRE.CodeContainer img {
    cursor: pointer;
    border: none;
    margin-bottom: -1px;
}

#CollapsibleViewDetail a {
    padding-left: 10px;
}

#ControlsRow {
    white-space: nowrap;
    font: 16px Georgia;
}

#TabSizeHolder {
    padding-left: 10px;
    padding-right: 10px;
}

#HeaderTitle {
    text-align: right;
    font-size: 11px;
}

#HeaderSubTitle {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    margin: 0px;
}

#RawJson {
    width: 100%;
    height: 100%;
    border:none;
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

A.OtherToolsLink {
    color: #555;
    text-decoration: none;
}

A.OtherToolsLink:hover {
    text-decoration: underline;
}

#format_button {
    font-size: 16px;
    background: #00AA00;
    color: white;
    border:none;
}

#TabSize {
    font-size: 16px;
}